@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
    @apply font-bold py-2 px-4 rounded;
}
.btn-blue {
    @apply bg-blue-500 text-white;
}
.btn-blue:hover {
    @apply bg-blue-700;
}
.check-svg .check{
    stroke-dasharray: 0, 75px;
}
.check-svg.animate .check{
    animation: 1s cubic-bezier(0.65, 0, 1, 1) forwards check;
}

@keyframes check {
    from {
      stroke-dasharray: 0, 75px;
    }
    to {
      stroke-dasharray: 75px, 75px;
    }
}

.check-svg .box {
    stroke-dasharray: 0px, 75px, 75px;
}
.check-svg.animate .box {
    animation: 1s cubic-bezier(0.65, 0, 1, 1) forwards box;
}

@keyframes box {
    from {
      stroke-dasharray: 0px, 75px, 75px;
    }
    to {
      stroke-dasharray: 0px, 0px, 75px;
    }
}

.check-svg .box2 {
    stroke-dasharray: 0px, 75px;
}
.check-svg.animate .box2{
    animation: 1s linear forwards box2;
}

@keyframes box2 {
    from {}
    to {
        visibility: hidden;
    }
}